//
//  config-release.xcconfig
//  DisplayImage
//
//  Created by Neil Francis Hipona on 7/27/23.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

PRODUCT_NAME = Display Image (Release)
API_TOKEN = CCtH7fGysGDRhjSBow71VC0sRAVhX724AtvKmJ8nDKyLgbuA5xNZ5H68
BASE_URL = https:/$()/api.pexels.com/v1
